<h2>Breweries</h2>

<div id="breweries"></div>

<table id="brewery_table" class="table table-hover">

  <tr>
    <th> <a href="#" id="name">Name</a></th>
    <th> <a href="#" id="year">Year</a></th>
    <th> <a href="#" id="number_of_beers">Number of beers</a></th>
  </tr>

</table>